/* You can add global styles to this file, and also import other style files */
.bg-main{
  background-color: #2C3E50;
}
.bg-main-dark{
  background-color: #1A252F;
}
.bg-main-green{
  background-color: #1abc9c;
}
.text-navy{
  color: #2c3e50;
}

.line{
  width: 80px;
height: 4px;
}
.home , .about ,.notfound , .portfolio , .contact{
  margin-top: 92px;
 min-height: calc(100vh - 112px);
}

.home .line , .about .line{
  background-color: #fff;
}

.portfolio .line, .contact .line{
  background-color: #2c3e50;
}




